@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@fullcalendar/common/main.css"; */
/* @import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/timegrid/main.css";
@import "@fullcalendar/list/main.css"; */
